 <form action="{% url 'delete_meal' %}" method="POST">
  {% csrf_token %}
  <div class="modal fade" id="deletModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-danger text-white"  >
  
          <button type="button" class="btn-close btn-close-bg-light mr-1" data-bs-dismiss="modal" aria-label="Close"></button>
        
        </div>
        <div  class="modal-body text-balck fw-bold  mt-2 mb-2">
        هل أنت متأكد من رغبتك في حذف <span class="text-danger">{{ meal.meal_name }}</span>؟
        </div>
        <div class="modal-footer" dir="rtl">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">إلغاء</button>
          <input type="submit" class="btn btn-danger" value="حذف">
        </div>
      </div>
    </div>
  </div>
  
</form>
